body {
	background-color: lightgrey;
	font-family: 'Montserrat'; 
}

.page-title {
	text-align: center;
	font-weight: bold;
	color: purple;
	font-size: 4em;
}

h2 {
	text-align: center;
}

form {
	text-align: center;
	width: 500px;
	margin: auto;
	clear: both;
		
}

form div {
	font-size: 14px;
	padding: 15px;
	text-align: left;
	width: 100%;
	clear: both;
}

form div input {
	width:100%;
}

form div #checkbox {
	display: inline-block;
	float: left;
}

form div button {
	display: inline-block;
	float: right;
}

.login-bottom {
	text-align: center;
	clear: both;
}

.column-left {   
	border: solid black 2px;
	border-radius: 5px;
}

.column-right { 
	border: solid black 2px;
	border-radius: 5px;
}

.column-center {
 	border: solid black 2px;
 	border-radius: 5px;
}


.content-list {
	text-align: center;
	border-radius: 10px;
	margin-left: -60px;
}

ul li a:link { color: black; }
ul li a:visited { color: black; }
ul li a:hover { color: purple; }
ul li a:active { color: #D4AF37; }

.list li {
	display: inline;
	list-style: none;
	font-size: 1em;
	text-decoration: none;
	padding: 40px 30px 40px 40px;
}


