

.page-title {
	text-align: center;
	font-weight: bold;
	color: purple;
	font-size: 4em;
}

h2 {
	text-align: center;
}

form {
	text-align: center;
	width: 500px;
	margin: auto;
	clear: both;
		
}

form div {
	font-size: 14px;
	padding: 15px;
	text-align: left;
	width: 100%;
	clear: both;
}

form div input {
	width:100%;
}

form div #checkbox {
	display: inline-block;
	float: left;
}

form div button {
	display: inline-block;
	float: right;
}

.login-bottom {
	text-align: center;
	clear: both;
	margin-bottom: 5em;
	padding-top: 2em;
}

.login-bottom li {
	display: inline;
	list-style: none;
}

.login-bottom a {
	color: black !important;
	text-decoration: none;
	padding: 2em;
}

.login-bottom a:hover {
	color: #D4AF37 !important;
}	

.column-left {   
	border: solid black 2px;
	background: #D4AF37;
	border-radius: 20px;
	padding: 2em 1.25em 1.5em 1.25em;
}

.column-right { 
	border: solid black 2px;
	background: #D4AF37;
	border-radius: 20px;
	padding: 2em 2em 1.5em 2em;
	margin-left: 50px !important;
}

.content-list {
	text-align: center;
	border-radius: 10px;
	margin: 100px 50px 125px 0px;
}

.content-list a {
	font-size: 2em;
	text-decoration: none;
}

.content-list a:hover {
	text-decoration: none;
}

.list li {
	display: inline;
	list-style: none;
}

ul li a:link    { color: purple;  }
ul li a:visited { color: purple;  }
ul li a:hover   { color: white;   }
ul li a:active  { color: #D4AF37; }




