body {
	background-color: lightgrey;
	font-family: 'Montserrat'; 
}

h1 {
	text-align: center;
	font-weight: bold;
	color: purple;
	font-size: 75px;
	margin-top: 5%;
}

form {
	text-align: center;
	width: 500px;
	margin: auto;
	clear: both;
		
}

form div {
	font-size: 14px;
	padding: 15px;
	text-align: left;
	width: 500px;
	clear: both;
	
}

form div input {
	width: 100%;
	
}

form div button {
	float: right;
}

#footer {
	text-align: center; 
	padding-top: 20px;
	clear: both;
}

a {
	color: darkgray;
	text-decoration: none; 
	padding: 30px;
}

a:hover {
	color: purple;
	text-decoration: none;
}




