body {
	background-color: lightgrey;
	font-family: 'Montserrat';
}

h1 {
	text-align: center;
	font-weight: bold;
	color: purple;
	font-size: 50px;
	margin-top: 5%;
}

h2 {
	text-align: center;
}

.btn {
	text-align: center;
}

.btn:hover {
  	text-decoration: none;
}


.column-left {  
	float: left; 
	width: 33%;
	border-radius: 10px;
	font-size: 30px;
	background: purple;
	padding: 10px 20px 10px 0px;
	text-decoration: none;
	border: solid black 2px;

}

.column-right { 
	float: right; 
	width: 33%;
	border-radius: 10px;
	font-size: 30px;
	background: purple;
	padding: 10px 20px 10px 0px;
	text-decoration: none;
	border: solid black 2px;

 }

.column-center { 
	display:inline-block; 
	width: 33%;
	border-radius: 10px;
	font-size: 30px;
	background: purple;
	padding: 10px 20px 10px 0px;
	text-decoration: none;
	border: solid black 2px;

 }

form {
	text-align: center;
	width: 500px;
	margin: auto;
	clear: both;	
}

form div {
	font-size: 14px;
	padding: 15px;
	text-align: left;
	width: 500px;
	clear: both;
	
}

form div input {
	width: 100%;
	
}

form div button {
	float: right;
}

a {
	color: darkgray;
}
a:hover {
	color: gold;
	text-decoration: none;
}

.gridbox {
	display: grid;
    grid-template-columns: 100px 10px 100px 10px 100px;
    grid-template-rows: auto 10px auto;
    background-color: #fff;
    color: #444;
}

.box {
    width:100px;
    height:100px;
    background:gray;
    border:2px solid #696969;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    position: absolute;  
} 

#topleft{    
    margin:0 auto;
    top:50%;
    left:50%;
    margin-top:-110px;
    margin-left:-110px;
}
#topright{
    margin:0 auto;
    top:50%;
    left:50%;
    margin-top:-110px;
    margin-left:10px;
}
#bottomleft{
    margin:0 auto;
    top:50%;
    left:50%;
    margin-top:10px;
    margin-left:10px;
}
#bottomright{
    margin:0 auto;
    top:50%;
    left:50%;
    margin-top:10px;
    margin-left:-110px;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}